Booking: 

<br />
<br />
 <b> name: </b> <%= @listed[:name] %>
<br />
 <b> description: </b> <%= @listed[:description] %>
<br />
 <b> price: </b> £<%= @listed[:price] %>
<br />
<em> availabilty </em>
<br />
<b> date from </b> <%= @listed[:date_from] %>
<br />
<b> date to </b> <%= @listed[:date_to] %>
<br />
 
<br />
which dates would you like to request?


<form action="/listings/<%=@listed[:id]%>/booking/confirmation" method="post">
<label>Enter a check-in date: </label>
<input type="date" name="check_in" min="<%= @listed[:date_from] %>" max="<%= @listed[:date_to] %>">

<label>Enter a check-out date:</label>
<input type="date" name="check_out" min="<%= @listed[:date_from] %>" max="<%= @listed[:date_to] %>">

<button type="submit" name="submit">Submit</button>
</form>

